@charset "utf-8";

/* Font */
@font-face {
	font-family:NanumSquareL;
	src:url('../font/NanumSquareL.eot');
	src:local(※),
		url('../font/NanumSquareL.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumSquareL.woff') format('woff'),
		url('../font/NanumSquareL.ttf') format('truetype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:NanumSquareR;
	src:url('../font/NanumSquareR.eot');
	src:local(※),
		url('../font/NanumSquareR.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumSquareR.woff') format('woff'),
		url('../font/NanumSquareR.ttf') format('truetype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:NanumSquareB;
	src:url('../font/NanumSquareB.eot');
	src:local(※),
		url('../font/NanumSquareB.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumSquareB.woff') format('woff'),
		url('../font/NanumSquareB.ttf') format('truetype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:nsL;
	src:url('../font/NotoSans-Light.eot');
	src:local(※),
		url('../font/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSans-Light.woff') format('woff'),
		url('../font/NotoSans-Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:nsR;
	src:url('../font/NotoSans-Regular.eot');
	src:local(※),
		url('../font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSans-Regular.woff') format('woff'),
		url('../font/NotoSans-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:nsM;
	src:url('../font/NotoSans-Medium.eot');
	src:local(※),
		url('../font/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSans-Medium.woff') format('woff'),
		url('../font/NotoSans-Medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:nsB;
	src:url('../font/NotoSans-Bold.eot');
	src:local(※),
		url('../font/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSans-Bold.woff') format('woff'),
		url('../font/NotoSans-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal
}

/* Reset */
html,body {font-size:16px;color:#333;line-height:1.2;-webkit-text-size-adjust:none;}
/* body {background:#282828;} */
body,div,form,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,em,p,span,textarea,pre,label,fieldset,th,td,button,a,input,select,hr {margin:0;padding:0;font-family:NanumSquareR, nsR, Arial, dotum;word-break:break-all;vertical-align:top;}
h1,h2,h3,h4,h5,h6,strong,th {font-weight:normal;}
em,span,strong,a,button,i {font-size:100%;}
em,address {font-style:normal;}
ol,ul,dl {list-style:none;}
fieldset,img,hr,button {border:0;}
img,input,textarea,select {vertical-align:top;}
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
legend,caption {overflow:hidden;width:0;height:0;padding:0;font-size:0;line-height:0;}
a {color:#2c2c2c;text-decoration:none;}
a:hover {text-decoration:none;}
button {overflow:visible;margin:0;padding:0;background:none;border-radius:0;cursor:pointer;outline:none;}
input,textarea,select {-webkit-appearance:none;appearance:none;} /* 모바일 한정 */
input[type="text"] {border:none;background:none;outline:none;font-family:nsR;font-size:18px;color:#333;}
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { 
	color: #333;
}
/* input[type="text"]::placeholder {font-family:nsR;font-size:18px;color:#333;} */
input[type=text]::-ms-clear,input[type=password]::-ms-clear,input[type=text]::-ms-reveal,input[type=password]::-ms-reveal {display:none;}
.blind {position:absolute;top:0;left:0;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
.clfix:after {content:"";display:block;clear:both;visibility:hidden;height:0;}
 
/* COMMON */
.img {display:block;}
.nanumLight {font-family:NanumSquareL;}
.nanumBold {font-family:NanumSquareB;}

/* BUTTON */
.btnClose {width:20px;height:21px;display:block;background:url(../images/btn_close.png) center center no-repeat;}

/* ANIMATION */

@keyframes arrow-wave {
	0% { opacity:0 }
	25% { opacity:1 }
	75% { opacity:0 }
	100% { opacity:0 }
  }

/* LAYOUT */

#wrap {width:100%;position:relative;overflow:hidden;}
.inner {width:1200px;margin:0 auto;position:relative;}

#header {width:100%;position:relative;z-index:7;}
#header .banner {background-color:#f89b5c;}
#header .banner .btnClose {position:absolute;top:10px;right:0;}
#header .util {background-color:#f6f6f6;}
#header .gnbWrap {position:relative;box-sizing:border-box;border-bottom:1px solid #cddbf4;}
#header .gnbWrap > .inner > * {display:inline-block;margin-left:148px;vertical-align:middle;}
#header .gnbWrap > .inner > *:first-child {margin-left:0;}
#header .gnbWrap > .inner a {display:block;padding:19px 0;box-sizing:border-box;}
#header .gnbWrap > .inner .menu > * {display:inline-block;margin-left:30px;}
#header .gnbWrap > .inner .menu > *:first-child {margin-left:0;}

#header .allMenu {display:none;padding:40px 0 50px;box-sizing:border-box;position:absolute;top:80px;left:0;right:0;z-index:3;background-color:#fff;box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.15);}
#header .allMenu .inner li {width:23.75%;max-width:285px;min-height:390px;display:inline-block;margin-left:1.25%;padding-bottom:160px;box-sizing:border-box;position:relative;}
#header .allMenu .inner li:first-child {margin-left:0;}

#header .allMenu .inner li dt {margin-left:19px;overflow:hidden;}
#header .allMenu .inner li dt span {font-family:nsL;font-size:13px;color:#777;}
#header .allMenu .inner li dt strong {display:block;font-size:26px;color:#111;}
#header .allMenu .inner li dd {margin:19px 0 0 19px;}
#header .allMenu .inner li dd > a {display:inline-block;padding-right:17px;box-sizing:border-box;}
#header .allMenu .inner li dd > a:hover {background:url(../images/img_menu_arrow.png) right center no-repeat;font-family:NanumSquareB;color:#ff6633;}
#header .allMenu .inner li .menuBanner {position:absolute;left:0;bottom:0;}

#container {position:relative;}

.mainVisual {padding:29px 0 20px;box-sizing:border-box;}
.mainVisual .visualList {width:100%;position:relative;z-index:4;}
.mainVisual .visualList > li {width:32%;display:inline-block;margin-left:1%;position:relative;text-align:center;}
.mainVisual .visualList > li:first-child {margin-left:0;}
.mainVisual .visualList > li > a {max-width:380px;min-height:425px;max-height:425px;display:block;padding:59px 0;box-sizing:border-box;position:relative;border:3px solid #fff;border-radius:28px;transition:350ms box-shadow linear, 450ms border linear;}
.mainVisual .visualList > li > a:after {content:'';width:100%;height:100%;position:absolute;top:0;left:0;background-color:rgba(255, 255, 255, .75);border-radius:28px;}
.mainVisual .visualList > li.on > a {box-shadow: 5px 9px 15px 0px rgba(0, 0, 0, 0.25);}
.mainVisual .visualList > li > a:hover:after,
.mainVisual .visualList > li.active > a:after,
.mainVisual .visualList > li.on > a:after {background:none;}
.mainVisual .visualList > li.active > a,
.mainVisual .visualList > li > a:hover {border:3px solid #f89b5c;box-shadow: 5px 9px 15px 0px rgba(0, 0, 0, 0.25);}
/* .mainVisual .visualList > li > a .visualCon .inputBox,
.mainVisual .visualList > li > a .visualCon .buttonBox {z-index:5;} */
.mainVisual .visualList > li > a .visualTxt > * {display:block;font-family:NanumSquareL;font-size:40px;}
.mainVisual .visualList > li > a .visualTxt strong {color:#ff6633;}
.mainVisual .visualList > li .img {margin-top:40px;}
.mainVisual .visualList > li.active > a .stepList .step1 .img,
.mainVisual .visualList > li > a:hover .stepList .step1 .img {display:none;}
.mainVisual .visualList > li.active > a .visualTxt  *, 
.mainVisual .visualList > li > a:hover .visualTxt  * {color:#888;}
.mainVisual .visualList > li > a .stepList .step1 .inputBox,
.mainVisual .visualList > li > a .stepList .step1 .buttonBox {display:none;}
.mainVisual .visualList > li.active > a .stepList .step1 .inputBox,
.mainVisual .visualList > li > a:hover .stepList .step1 .inputBox,
.mainVisual .visualList > li.active > a .stepList .step1 .buttonBox,
.mainVisual .visualList > li > a:hover .stepList .step1 .buttonBox {display:block;}
.mainVisual .visualList > li.active > a .stepList .inputBox .inputTxt {position:relative;z-index:5;}
.mainVisual .visualList > li.active > a .stepList .inputBox .customSelect .selectTxt {z-index:6;}
.mainVisual .visualList > li.active > a .stepList .inputBox ul li:first-child .customSelect .optionList {z-index:7;}
.mainVisual .visualList > li .stepList {width:100%;}
.mainVisual .visualList > li .stepList > li {width:100%;display:none;text-align:center;}
.mainVisual .visualList > li .stepList > li.on {display:block;}
.mainVisual .visualList > li .stepList > li[class^="step"] .visualTxt [class^="optionTxt"]{color:#ff6633}
.mainVisual .visualList > li .stepList > li[class^="step"] .arrowWrap {position:absolute;bottom:30px;left:50%;transform:translateX(-50%);}
.mainVisual .visualList > li .stepList > li[class^="step"] .arrowWrap > * {margin-top:0;animation: arrow-wave 2s infinite;animation-delay:-0.5s;}
.mainVisual .visualList > li .stepList > li[class^="step"] .arrowWrap > *:first-child {animation-delay: -1s;}
.mainVisual .visualList > li .stepList > li[class^="step"] .arrowWrap > *:last-child {animation-delay: 0s;}

/* .mainVisual .visualList > li .stepList > li.on .img{display:none;} */

.mainVisual .indicatorWrap {margin-top:20px;font-size:0;text-align:center;}
.mainVisual .indicatorWrap > .indicator {width:6px;height:6px;display:inline-block;margin-left:4px;background-color:#ccc;border-radius:50%;}
.mainVisual .indicatorWrap > .indicator:first-child {margin-left:0;}
.mainVisual .indicatorWrap > .indicator.on {background-color:#000;}

.mainVisual .inputBox {width:180px;margin:45px auto 0;text-align:center;}
.mainVisual .inputBox > ul > li {margin-top:24px;position:relative;}
.mainVisual .inputBox > ul > li:first-child {margin-top:0;}
.mainVisual .inputBox > ul > li .placeholder {display:block;position:absolute;top:3px;right:0;font-family:nsR;font-size:14px;color:#888;}
.mainVisual .inputBox > ul > li:first-child .customSelect .optionList {z-index:7;}
.mainVisual .buttonBox {margin-top:40px;padding:0 40px;box-sizing:border-box;}
.mainVisual .buttonBox > .btnListWrap {margin:-10px 0 0 -17px;font-size:0;overflow:hidden;}
.mainVisual .buttonBox > .btnListWrap > li {max-width:100px;margin-left:17px;margin-top:10px;float:left;}
.mainVisual .buttonBox > .btnListWrap > li .hashTag {padding:7px 10px 10px;box-sizing:border-box;position:relative;z-index:5;background-color:#444;border-radius:4px;font-family:nsL;font-size:14px;color:#fff;}
.mainVisual .customSelect .selectTxt {width:100%;display:block;padding:0 10px 17px;box-sizing:border-box;position:relative;border-bottom:2px solid #333;text-align:left;}
.mainVisual .customSelect .selectTxt:after {content:'';width:12px;height:8px;display:block;position:absolute;top:4px;right:10px;background-image:url(../images/btn_down.png);background-position:0 0;background-repeat:no-repeat;}
.mainVisual .customSelect .selectTxt > * {font-family:nsR;font-size:16px;}
.mainVisual .customSelect .optionList {width:100%;max-width:180px;display:none;position:absolute;left:0;z-index:6;background-color:#fff;border:2px solid #333;box-sizing:border-box;border-top:none;}
.mainVisual .customSelect .optionList .option {width:100%;display:block;padding:10px;box-sizing:border-box;font-family:nsR;color:#666;text-align:left;}
.mainVisual .customSelect .optionList .option:hover,
.mainVisual .customSelect .optionList .option.on {background-color:#5878d5;color:#fff;}
.mainVisual .customSelect .selectTxt.on:after {background-image:url(../images/btn_up.png);}
.mainVisual .customSelect .selectTxt.on + .optionList {display:block;}
.mainVisual .inputTxt {width:180px;display:inline-block;border-bottom:2px solid #888;box-sizing:border-box;}
.mainVisual .inputTxt input[type="text"] {width:100%;display:block;padding:0 10px 17px;box-sizing:border-box;font-size:16px;}

.mainVisual .result {width:100%;height:calc(100% + 440px);padding-top:500px;box-sizing:border-box;position:absolute;top:0;left:0;right:0;z-index:3;overflow:hidden;}
.mainVisual .result:before {content:'';width:100%;height:100%;display:block;position:absolute;left:0;right:0;background-color:rgba(248, 155, 92, .9);}
.mainVisual .result .productList{padding-top:46px;box-sizing:border-box;}
.mainVisual .result .productList li > a {padding:30px 38px;border-radius:8px;text-align:center;}
.mainVisual .result .productList li > a strong {font-family:NanumSquareB}
.mainVisual .result .productList li > a > * {display:block;margin-top:20px;}
.mainVisual .result .productList li > a > *:first-child {margin-top:0;}
.mainVisual .result .productList li > a .resultTit {font-size:18px;color:#333;}
.mainVisual .result .productList li > a .won {font-size:25px;color:#ff6633;}
.mainVisual .result .productList li > a .resultTxt {padding:9px 0 6px;box-sizing:border-box;background-color:#e9eff9;border-radius:45px;text-align:center;}
.mainVisual .result .productList li > a .resultTxt > * {display:block;color:#005c9d;}
.mainVisual .result .productList li > a .resultTxt > em {font-size:12px;}
.mainVisual .result .productList li > a .resultTxt > strong {font-size:18px;}
.mainVisual .result .productList li > a .summary {font-size:14px;text-align:center;}
.mainVisual .result .productList li > a .summary > * {display:block;margin-top:5px;}
.mainVisual .result .productList li > a .summary > *:first-child {margin-top:0;}
.mainVisual .result .productList li > a .more {display:inline-block;margin-top:30px;}

.mainVisual .result .productList li > a:hover > * {color:#fff;}
.mainVisual .result .btnClose {position:absolute;top:40px;right:0;}

.productList {width:100%;margin:-25px 0 0 -1.25%;font-size:0;}
.productList li {width:23.75%;display:inline-block;margin:25px 0 0 1.25%;}
.productList li > a {width:100%;min-height:160px;display:block;padding:30px 34px 18px;box-sizing:border-box;background-color:#fff;border-radius:4px;transition:550ms transform cubic-bezier(.5,0,.15,1), 350ms box-shadow linear 100ms;/*, 500ms background cubic-bezier(.7,.3,0,1);*/}
.productList li > a .ico {display:inline-block;padding:6px 11px;box-sizing:border-box;background-color:#5878d5;border-radius:15px;font-size:14px;color:#fff;}
.productList li > a .txtWrap {margin-top:16px;font-family:NanumSquareB;font-size:24px;}
.productList li > a .txtWrap p {margin-top:7px;font-family:NanumSquareR;font-size:16px;white-space:nowrap;}
.productList li > a .more {display:inline-block;margin-top:36px;padding-left:17px;box-sizing:border-box;background-image:url(../images/ico_more.png);background-position:left center;background-repeat:no-repeat;font-family:nsR;font-size:14px;}

.productList li > a:hover {background-color:#5878d5;color:#fff;transform:translateY(-5px);box-shadow: 5px 9px 15px 0px rgba(0, 0, 0, 0.2);}
.productList li > a:hover .ico {background-color:#3d5495;}
.productList li > a:hover .more {background-image:url(../images/ico_more_on.png);}

#contents .section {padding:60px 0;box-sizing:border-box;text-align:center;} 
#contents .section:first-child {background-color:#dfe7f5;}
#contents .section .conTit {font-family:NanumSquareL;font-size:30px;}
#contents .section .conTit strong {font-family:NanumSquareR;}
#contents .section .conWrap {margin-top:35px;}
/* #contents .section:first-child .conWrap {margin-top:60px;} */

#contents .section .listTy01 {width:100%;}
#contents .section .listTy01 ul {width:100%;display:inline-block;font-size:0;}
#contents .section .listTy01 ul li {display:inline-block;margin-left:40px;}
#contents .section .listTy01 ul li:first-child {margin-left:0;}
#contents .section .listTy01 ul li > a {max-height:260px;display:block;padding:56px 51px 51px 49px;box-sizing:border-box;background-color:#fcf4dd;border-radius:6px;transition:550ms transform cubic-bezier(.5,0,.15,1), 350ms box-shadow linear 100ms;}
#contents .section .listTy01 ul li > a:hover {transform:translateY(-5px);box-shadow: 5px 9px 15px 0px rgba(0, 0, 0, 0.2);}

#contents .section .conWrap .listTy02 {margin-top:65px;padding-top:60px;box-sizing:border-box;border-top:1px solid #e8e8e8;}
#contents .section .listTy02 ul {width:100%;display:inline-block;font-size:0;}
#contents .section .listTy02 ul li {display:inline-block;margin-left:40px;overflow:hidden;}
#contents .section .listTy02 ul li:first-child {margin-left:0;}
#contents .section .listTy02 ul li > a {display:inline-block;}
#contents .section .listTy02 ul li .img {display:block;box-sizing:border-box;border-radius:8px;box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.05);}
#contents .section .listTy02 ul li .indicator {display:block;margin-top:20px;}

#footer {width:100%;position:relative;}
#footer .banner {background-color:#55647a;}