@charset "utf-8";

.util {width:100%;height:40px;background:#777d8e}
.util .inner {width:1120px;margin:0 auto}
.subContainer {width:1120px;margin:60px auto}
.subContainer .leftMenu {width:280px;float:left}
.subContainer .content {width:840px;float:left}
.subContainer .content .boxWrap {position:relative;width:855px;margin-left:-15px}
.subContainer .box {
    float:left;
    margin-left:15px;
    margin-bottom:15px;
    opacity: 0;
    transition: 333ms opacity linear, 0ms -webkit-transform 333ms;
    transition: 0ms transform 333ms, 333ms opacity linear;
    transition: 0ms transform 333ms, 333ms opacity linear, 0ms -webkit-transform 333ms;
    -webkit-transform: translate3d(0, 0, -150vw) rotateY(-360deg) rotateZ(10deg);
            transform: translate3d(0, 0, -150vw) rotateY(-360deg) rotateZ(10deg);
}
.subContainer .box.on {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotateY(0deg) rotateZ(0deg);
            transform: translate3d(0, 0, 0) rotateY(0deg) rotateZ(0deg);
    transition: 500ms opacity linear, 800ms -webkit-transform cubic-bezier(0.2, 0.6, 0.3, 1);
    transition: 1200ms transform cubic-bezier(0.2, 0.6, 0.3, 1), 500ms opacity linear;
    transition: 1200ms transform cubic-bezier(0.2, 0.6, 0.3, 1), 500ms opacity linear, 1200ms -webkit-transform cubic-bezier(0.2, 0.6, 0.3, 1);
}

.subContainer .box.last img{display:none}
.subContainer .box.last img.on{display:block;}

.subContainer .box.ui-sortable-helper {box-shadow: 3px 4px 4.5px 0.5px rgba(0, 0, 0, 0.3);  transform: scale(1.05); }

.sub01Li li {float:left;transform:scaleX(0);transform-origin:0% 50%;transition:350ms transform cubic-bezier(.7,.3,0,1);}
.sub01Li li.on{transform:scaleX(1);}
.sub02 .util {width:100%;height:40px;background:#808aa6}
.sub02 .subContainer {width:1120px;margin:0 auto}
.sub02 .box01Wrap {overflow:hidden;}
.sub02 .box01Wrap > li {float:left;position:relative;z-index:2;perspective:1000px;transform:translateX(-200%);transition:650ms transform cubic-bezier(.52,.01,.16,1) 100ms;}

.sub02 .box01Wrap > li:first-child{transform:translateX(-100%);z-index:3;}
.sub02 .box01Wrap > li:last-child{transform:translateX(-300%);z-index:1;}
.sub02 .box01Wrap > li.on{transform:translateX(0)}
.sub02 .box01Wrap > li:first-child > .card {position:relative;}
.sub02 .box01Wrap > li:first-child .front,
.sub02 .box01Wrap > li:first-child .back {transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);transition-duration: .75s;transition-property: transform, opacity;transition-delay:150ms;}
.sub02 .box01Wrap > li:first-child .front {transform:rotateY(0deg)}
.sub02 .box01Wrap > li:first-child .back {position:absolute;top:0;left:0;transform:rotateY(-180deg);opacity:0;}
.sub02 .box01Wrap > li:first-child:hover .front {transform:rotateY(180deg)}
.sub02 .box01Wrap > li:first-child:hover .back {transform:rotateY(0deg);opacity:1;}

.sub02 .box02Wrap{height:182px;overflow: hidden;}
.sub02 .box02Wrap > li {float:left;position: relative;}
.sub02 .box02Wrap > li:after {content:'';width:100%;height:100%;background-color: rgba(29,31,48,.77); position: absolute;bottom:0;left:0;right:0;transform:translateY(100%);transition: .35s transform cubic-bezier(.58,.18,.99,.38) .15s;}
.sub02 .box02Wrap > li:hover:after {transform:translateY(0)}
.sub02 .box02Wrap > li .over {width:100%;position:absolute;top:50%;left:50%;z-index:3;transform:translate(-50%, -50%);text-align:center;}
.sub02 .box02Wrap > li .over .overInner{overflow:hidden;}
.sub02 .box02Wrap > li .over span {display:inline-block;vertical-align:middle;transform:translateY(100%);transition:.5s transform cubic-bezier(.57,.21,.69,1.25)}
.sub02 .box02Wrap > li:hover .over span {transform:translateY(0);transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);transition-delay:.6s}
.sub02 .box02Wrap > li:hover .over span:first-child{transition-delay:.5s;}
.sub02 .infoOver {position: absolute;top:0;right:0;width:232px;height:40px;background:none;font-size:0}
.infoOverWrap {position: absolute;top:0;right:0;z-index:5;height:0; overflow: hidden; transition: height .3s ease;}
.infoOverWrap.active {height: 279px;}


.sub03 .util {width:100%;height:40px;background:#808aa6}
.sub03 .header {width:1120px;margin:0 auto}
.sub03 .subContainer {width:1120px;margin:0 auto}
.sub03 .visual {position: relative;}
.sub03 .visual .inner {width:1120px;margin:0 auto}
.sub03 .visual .txtBg {width:52%;height:270px;background:url(../images/sub03_over_bg.png) left top repeat-x;position: absolute;top:67px;left:0;z-index:1;}
.sub03 .visual .txtBg .txt {position: absolute;top:62px;right:130px;opacity: 0;transform: translateY(50%);}
.sub03 .visual .txtBg .btn {position: absolute;top:200px;right:383px;opacity: 0;transform: translateY(50%);}
.sub03 .visual {overflow: hidden;}
.visualImg {transform:translateX(200%);transition: 850ms transform cubic-bezier(.52,.01,.16,1) 150ms;}
.visualImg.on{transform:translateX(0)}

