@charset "utf-8";

/* Font */
@font-face {
	font-family:nsL;
	src:url('../font/NotoSans-Light.eot');
	src:local(※),
		url('../font/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSans-Light.woff') format('woff'),
		url('../font/NotoSans-Light.otf') format('truetype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:nsR;
	src:url('../font/NotoSans-Regular.eot');
	src:local(※),
		url('../font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSans-Regular.woff') format('woff'),
		url('../font/NotoSans-Regular.otf') format('truetype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:nsM;
	src:url('../font/NotoSans-Medium.eot');
	src:local(※),
		url('../font/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSans-Medium.woff') format('woff'),
		url('../font/NotoSans-Medium.otf') format('truetype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:nsB;
	src:url('../font/NotoSans-Bold.eot');
	src:local(※),
		url('../font/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSans-Bold.woff') format('woff'),
		url('../font/NotoSans-Bold.otf') format('truetype');
	font-weight: normal;
	font-style: normal
}

/* Reset */
html,body {font-size:12px;color:#222;line-height:1.2;-webkit-text-size-adjust:none;}
body,div,form,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,em,p,span,textarea,pre,label,fieldset,th,td,button,a,input,select,hr {margin:0;padding:0;font-family:nsR, dotum;word-break:break-all;}
h1,h2,h3,h4,h5,h6,strong,th {font-weight:normal;}
em,span,strong {font-size:100%;}
em,address {font-style:normal;}
ol,ul,dl {list-style:none;}
fieldset,img,hr,button {border:0;}
img,input,textarea,select {vertical-align:top;}
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
legend,caption {overflow:hidden;width:0;height:0;padding:0;font-size:0;line-height:0;}
a {color:#2c2c2c;text-decoration:none;}
a:hover {text-decoration:none;}
button {overflow:visible;margin:0;padding:0;background:none;border-radius:0;cursor:pointer;outline:none;}
input,textarea,select {-webkit-appearance:none;appearance:none;} /* 모바일 한정 */
input[type=text]::-ms-clear,input[type=password]::-ms-clear,input[type=text]::-ms-reveal,input[type=password]::-ms-reveal {display:none;}
.blind {position:absolute;top:0;left:0;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
.clfix:after {content:"";display:block;clear:both;visibility:hidden;height:0;}

/* Layout */
body{overflow:hidden;}
#wrap{position:relative;overflow:hidden;width:100%;}
#header {position:relative;padding:0 13px;box-sizing:border-box;}
#contents {position:relative;padding:0 23px 20px;box-sizing:border-box;}
#wrap >.inner{width:100%;position:relative;padding:0 13px 20px;box-sizing:border-box;}
img{width:100%;}

/* Header */

/* Contents */
.cardList {position:relative;}
.cardList > ul {font-size:0;line-height:0;white-space:nowrap;}
.cardList > ul > li {display:inline-block;width:100%;vertical-align:top;opacity:0;}
.cardList > ul > li:first-child{opacity:1}
.cardList > ul > li:first-child .topBanner{transform:translateY(50px);opacity:0;}
.cardList > ul > li > .viewCtrl {display:block;}
.cardList > ul > li > .viewCtrl .viewWrap {position:relative;overflow:hidden;width:100%;}
.cardList > ul > li > .viewCtrl .viewWrap .point,
.cardList > ul > li > .viewCtrl .viewWrap .txt,
.cardList > ul > li > .viewCtrl .viewWrap .btn{position:absolute;top:0;left:0;opacity:0;}
.cardList > ul > li > .viewCtrl .viewWrap .point{transform:translateY(20px);}
.cardList > ul > li > .viewCtrl .viewWrap .txt{transform:translateY(13px);}
.cardList > ul > li > .viewCtrl .conBottom{margin:0 -10px;}

.cardList .pagingWrap{position:absolute;top:15%;left:50%;transform:translateX(-50%)}
.cardList .paging {display:table;position:relative;}
.cardList .paging .swiper-pagination-bullet {display:inline-block;width:19px;height:19px;position:relative;margin-left:10px;}
.cardList .paging .swiper-pagination-bullet:first-child{margin-left:0;}
.cardList .paging  .point{background:url(../images/bullet01.png) center center no-repeat;background-size:19px 19px;}
.cardList .paging  .bank{background:url(../images/bullet02.png) center center no-repeat;background-size:19px 19px;}
.cardList .paging  .card{background:url(../images/bullet03.png) center center no-repeat;background-size:19px 19px;}
.cardList .paging  .stock{background:url(../images/bullet04.png) center center no-repeat;background-size:19px 19px;}
.cardList .paging  .insur{background:url(../images/bullet05.png) center center no-repeat;background-size:19px 19px;}


.cardList .pagingWrap  .swiper-pagination-bullet-active.point{background:url(../images/bullet01_on.png) center center no-repeat;background-size:19px 19px;}
.cardList .pagingWrap  .swiper-pagination-bullet-active.bank{background:url(../images/bullet02_on.png) center center no-repeat;background-size:19px 19px;}
.cardList .pagingWrap  .swiper-pagination-bullet-active.card{background:url(../images/bullet03_on.png) center center no-repeat;background-size:19px 19px;}
.cardList .pagingWrap  .swiper-pagination-bullet-active.stock{background:url(../images/bullet04_on.png) center center no-repeat;background-size:19px 19px;}
.cardList .pagingWrap  .swiper-pagination-bullet-active.insur{background:url(../images/bullet05_on.png) center center no-repeat;background-size:19px 19px;}

.cardList .btnOpen{width:48px;height:48px;display:block;position:fixed;bottom:20px;right:13px;z-index:5;background:url(../images/btn_floating.png) center center no-repeat;background-size:48px 48px;border-radius:50%;box-shadow: 3px 4px 20px 0 rgba(0, 0, 0, 0.2);opacity:0;}
.cardList .btnOpen.active{background-image:url(../images/btn_floating_close.png)}

.allMenu{width:100%;height:85%;position:fixed;top:6%;right:0;z-index:3;opacity:0;}
.allMenu .allMenuInner{width:100%;height:100%;background-color:#fff;}

.dim{width:100%;height:100%;position:fixed;top:0;left:0;bottom:0;right:0;z-index:-1;background:rgba(0,0,0, .7);opacity:0;}