@charset "utf-8";

/* Font */
/*
@font-face {
	font-family:'ng';
	src:url('/ucomic/web2/common/font/ng.eot');
	src:local(※),
		url('/ucomic/web2/common/font/ng.eot?#iefix') format('embedded-opentype'),
		url('/ucomic/web2/common/font/ng.woff') format('woff'),
		url('/ucomic/web2/common/font/ng.ttf') format('truetype');
	font-weight: normal;
	font-style: normal
}
*/

/* Reset */
html,body {font-size:12px;color:#000;line-height:1.2;-webkit-text-size-adjust:none;}
body,div,form,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,em,p,span,textarea,pre,label,fieldset,th,td,button,a,input,select,hr {margin:0;padding:0;font-family:Arial, dotum;word-break:break-all;}
h1,h2,h3,h4,h5,h6,strong,th {font-weight:normal;}
em,span,strong {font-size:100%;}
em,address {font-style:normal;}
ol,ul,dl {list-style:none;}
fieldset,img,hr,button {border:0;}
img,input,textarea,select {vertical-align:top;}
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
legend,caption {overflow:hidden;width:0;height:0;padding:0;font-size:0;line-height:0;}
a {color:#2c2c2c;text-decoration:none;}
a:hover {text-decoration:none;}
button {overflow:visible;margin:0;padding:0;background:none;border-radius:0;cursor:pointer;outline:none;}
input,textarea,select {-webkit-appearance:none;appearance:none;} /* 모바일 한정 */
input[type=text]::-ms-clear,input[type=password]::-ms-clear,input[type=text]::-ms-reveal,input[type=password]::-ms-reveal {display:none;}
.blind {position:absolute;top:0;left:0;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
.clfix:after {content:"";display:block;clear:both;visibility:hidden;height:0;}

/* Layout */
body {background:#ecf0f3;}
#wrap {position:relative;overflow:hidden;width:100%;}
#header {position:relative;height:43px;padding:0 16px;background:#2196f3;}
#contents {padding-bottom:50px;}

/* Header */
#header .left,
#header .right {position:absolute;}
#header .left {top:14px;left:16px;}
#header .right {top:9px;right:16px;}
#header .center {padding-top:6px;}
#header .center .txt {width:239px;margin:0 auto;text-align:center;}
#header .center .txt > a {display:block;border-radius:20px;background:#0b6bc7;line-height:32px;}
#header .center .txt > a img {display:inline-block;padding-top:9px;}
#header .center .topView {display:none;position:absolute;top:43px;left:0;width:100%;background:#1472d0;text-align:center;}
#header.show {background:#1472d0;}
#header.show .center .txt > a {background:#2092ed;}
#header.show .center .topView {display:block;}

/* Contents */
.conTxt {padding:35px 20px 30px;background:url(../images/bg.png) no-repeat 0 0;background-size:100%;}
.listCon {}
.listCon > ul {}
.listCon > ul > li {border-top:7px solid #ecf0f3;}
.listCon .inner {border-top:1px solid #e2e5e8;border-bottom:1px solid #e2e5e8;}
.listCon .inner .viewCtrl {display:block;}
.listCon .inner .viewCtrl img {width:100%;}
.listCon .inner .viewCtrl .on {display:none;}
.listCon .inner .viewCtrl.current .on {display:block;}
.listCon .inner .viewCtrl.current .off {display:none;}
.listCon .inner .view {display:none;overflow:hidden;height:0;}
.listCon .inner .view img {width:100%;}


.bottom {position:fixed;bottom:0;left:0;width:100%;background:rgba(99, 120, 151, .95);text-align:center;}