@charset "utf-8";

/* Font */
@font-face {
	font-family:NanumSquareL;
	src:url('../font/NanumSquareL.eot');
	src:local(※),
		url('../font/NanumSquareL.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumSquareL.woff') format('woff'),
		url('../font/NanumSquareL.ttf') format('truetype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:NanumSquareR;
	src:url('../font/NanumSquareR.eot');
	src:local(※),
		url('../font/NanumSquareR.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumSquareR.woff') format('woff'),
		url('../font/NanumSquareR.ttf') format('truetype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:NanumSquareB;
	src:url('../font/NanumSquareB.eot');
	src:local(※),
		url('../font/NanumSquareB.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumSquareB.woff') format('woff'),
		url('../font/NanumSquareB.ttf') format('truetype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:NanumSquareEB;
	src:url('../font/NanumSquareEB.eot');
	src:local(※),
		url('../font/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
		url('../font/NanumSquareEB.woff') format('woff'),
		url('../font/NanumSquareEB.ttf') format('truetype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:nsL;
	src:url('../font/NotoSans-Light.eot');
	src:local(※),
		url('../font/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSans-Light.woff') format('woff'),
		url('../font/NotoSans-Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:nsR;
	src:url('../font/NotoSans-Regular.eot');
	src:local(※),
		url('../font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSans-Regular.woff') format('woff'),
		url('../font/NotoSans-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:nsM;
	src:url('../font/NotoSans-Medium.eot');
	src:local(※),
		url('../font/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSans-Medium.woff') format('woff'),
		url('../font/NotoSans-Medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family:nsB;
	src:url('../font/NotoSans-Bold.eot');
	src:local(※),
		url('../font/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/NotoSans-Bold.woff') format('woff'),
		url('../font/NotoSans-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal
}

/* Reset */
html,body {width:100%;height:100%;font-size:16px;color:#333;line-height:1.2;-webkit-text-size-adjust:none;}
/* body {background:#282828;} */
body,div,form,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,em,p,span,textarea,pre,label,fieldset,th,td,button,a,input,select,hr {margin:0;padding:0;font-family:NanumSquareR, nsR, Arial, dotum;word-break:break-all;vertical-align:top;}
h1,h2,h3,h4,h5,h6,strong,th {font-weight:normal;}
em,span,strong,a,button,i {font-size:100%;}
em,address {font-style:normal;}
ol,ul,dl {list-style:none;}
fieldset,img,hr,button {border:0;}
img,input,textarea,select {vertical-align:top;}
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
legend,caption {overflow:hidden;width:0;height:0;padding:0;font-size:0;line-height:0;}
a {color:#2c2c2c;text-decoration:none;}
a:hover {text-decoration:none;}
button {overflow:visible;margin:0;padding:0;background:none;border-radius:0;cursor:pointer;outline:none;}
input,textarea,select {-webkit-appearance:none;appearance:none;} /* 모바일 한정 */
input[type="text"] {border:none;background:none;outline:none;font-family:nsR;font-size:18px;color:#333;}
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { 
	color: #333;
}
/* input[type="text"]::placeholder {font-family:nsR;font-size:18px;color:#333;} */
input[type=text]::-ms-clear,input[type=password]::-ms-clear,input[type=text]::-ms-reveal,input[type=password]::-ms-reveal {display:none;}
.blind {position:absolute;top:0;left:0;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
.clfix:after {content:"";display:block;clear:both;visibility:hidden;height:0;}
 
body {overflow:hidden;}

img {width:100%;}
[class^="swiper-"] .swiper-wrapper {font-size:0;line-height:0;white-space:nowrap;}
.swiper-wrapper.on {transform:none !important;}
.swiper-container-main {overflow:hidden;}
.swiper-container-main .swiper-slide {width:100%;display:inline-block;position:absolute;top:0;left:0;}
.swiper-container-main .swiper-slide-active {position:relative;}


.wd70 {width:70px !important;}
.wd120 {width:120px !important;}
.wd140 {width:140px !important;}
.wd160 {width:160px !important;}


/* COLOR */
.savingColor {color:#5778d5 !important;} /* 저축보험 Color */
.pensionColor {color:#019cd4 !important;} /* 연금보험 Color */
.guaranteeColor {color:#ea7947 !important;} /* 보장보험 Color */
.childColor {color:#27b2a5 !important;} /* 어린이 보험 Color */


.btnClose {width:15px;height:15px;display:block;background:url(../images/btn_close.png) center center no-repeat;background-size:100% auto;}
/* .btnCloseTy02 {width:20px;height:20px;display:block;background:url(../images/btn_close_type_02.png) center center no-repeat;background-size:100% auto} */
.btnHome {width:23px;height:20px;display:block;background:url(../images/btn_home.png) center center no-repeat;background-size:100% auto;}
.btnLayerClose {width:14px;height:14px;display:block;background:url(../images/btn_layer_close.png) center center no-repeat;background-size:100% auto;}

#wrap {width:100%;height:100%;position:relative;overflow-x:hidden;background-color:#efefef;-webkit-overflow-scrolling:touch;}
.inner {width:100%;padding:0 20px;box-sizing:border-box;}
.dim {width:100%;height:100%;position:fixed;top:0;left:0;z-index:-1;background:rgba(0, 0, 0, .6);opacity:0;}

#header {width:100%;max-height:90px;position:fixed;top:0;left:0;z-index:4;box-sizing:border-box;background-color:#fff;box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.2); }
#header .headerTop {padding:13px 0;box-sizing:border-box;position:relative;}
#header .headerTop .logo {width:144px;height:24px;display:inline-block;vertical-align:middle;}
#header .headerTop .logo a {display:block;}
#header .headerTop .btnAllMenu {width:18px;height:14px;position:absolute;top:50%;right:0;background:url(../images/btn_allMenu.png) 0 0 no-repeat;background-size:100% auto;text-indent:-9999px;transform:translateY(-50%);}
#header .headerMenuList {width:100%;position:relative;font-size:0;}
#header .headerMenuList li {width:33%;display:inline-block;}
#header .headerMenuList li a {display:block;padding:13px 0;box-sizing:border-box;position:relative;font-size:14px;color:#000;text-align:center;}
#header .headerMenuList li.on a{font-family:NanumSqaureB;color:#ff8a00;}
#header .headerMenuList .headerMenuLine {width:33%;height:2px;display:block;position:absolute;bottom:0;left:0;background-color:#ff8a00;}

#gnb {width:85%;height:100%;position:fixed;top:0;right:0;z-index:10;background-color:#fff;transform:translateX(100%);opacity:0;}
#gnb .inner {position:relative;}
#gnb .gnbTop {width:100%;max-height:168px;position:absolute;top:0;left:0;z-index:1;}
#gnb .gnbTop .tnb {padding:35px 0 15px;box-sizing:border-box;position:relative;background-color:#ff9600;}
#gnb .gnbTop .tnb .inner > * {display:inline-block;margin-left:57px;vertical-align:middle;}
#gnb .gnbTop .tnb .btnHome {margin-left:0;}
#gnb .gnbTop .tnb .btnWrap > * {display:inline-block;margin-left:6px;padding:8px 10px;box-sizing:border-box;border:1px solid #fff;border-radius:20px;font-size:12px;color:#fff;text-align:center;}
#gnb .gnbTop .tnb .btnWrap > *:first-child {margin-left:0;}
#gnb .gnbTop .tnb .btnAllMenuClose {width:20px;height:20px;margin-left:14px;}
#gnb .gnbTop .quickMenu {padding:12px 0;box-sizing:border-box;background-color:#fff;}
#gnb .gnbTop .quickMenu ul {width:100%;display:table;}
#gnb .gnbTop .quickMenu ul li {display:table-cell;text-align:center;}
#gnb .gnbTop .quickMenu ul li > a {display:block;}
#gnb .gnbTop .quickMenu ul li .ico {display:block;width:42px;margin:0 auto;}
#gnb .gnbTop .quickMenu ul li p {margin-top:6px;font-size:12px;color:#696969;}

#gnb .gnbList {height:100%;padding:168px 0 79px;box-sizing:border-box;overflow-y:auto;-webkit-overflow-scrolling:touch;}
#gnb .gnbList dt {padding:14px 20px;box-sizing:border-box;background-color:#ececec;}
#gnb .gnbList dt > .tit {font-family:NanumSquareB;font-size:13px;color:#393939;vertical-align:middle;}
#gnb .gnbList dd {border-top:1px solid #ececec;}
#gnb .gnbList dt + dd {border-top:none;}
#gnb .gnbList dd > a {display:block;padding:11px 20px 13px;box-sizing:border-box;}
#gnb .gnbList dd span {font-size:10px;color:#888888;}
#gnb .gnbList dd p {font-size:13px;color:#3a3a3a;}

#gnb .gnbBtm {width:100%;max-height:79px;position:absolute;bottom:0;left:0;}

#container {padding:90px 0 80px;box-sizing:border-box;overflow-x:hidden;}

.bannerListWrap {line-height:1.3;position:relative;}
.bannerListWrap .bannerList {padding-top:20px;box-sizing:border-box;}
.bannerListWrap .bannerList [class^="banner0"]{margin-top:15px;}
.bannerListWrap .bannerList [class^="banner0"]:first-child {margin-top:0;}
.bannerListWrap .bannerList [class^="banner0"] .bannerTop{width:calc(100% - 40px);display:block;margin:0 auto;position:relative;border-radius:14px;overflow:hidden;transition:300ms all cubic-bezier(.7,.3,0,1);}
.bannerListWrap .bannerList [class^="banner0"] .bannerTop > button {width:100%;display:block;padding:25px 34px;box-sizing:border-box;position:relative;z-index:2;text-align:left;}
.bannerListWrap .bannerList [class^="banner0"] .bannerTop > button .bannerTxt {font-size:24px;color:#555;transition:450ms color linear;}
.bannerListWrap .bannerList [class^="banner0"] .bannerTop > button .bannerTxt > strong {font-family:NanumSquareB;}
.bannerListWrap .bannerList [class^="banner0"] .bannerTop > button .ico {display:block;position:absolute;top:50%;right:34px;background-position:0 0;background-repeat:no-repeat;background-size:100% auto;transform:translateY(-50%);transition:500ms background-image linear;}
.bannerListWrap .bannerList [class^="banner0"] .innerWrap {width:100%;padding:18px 0 20px;box-sizing:border-box;position:absolute;top:0;left:0;z-index:1;font-size:14px;color:#fff;opacity:0;}
.bannerListWrap .bannerList [class^="banner0"] .innerWrap p {padding:0 20px;box-sizing:border-box;font-size:14px;}
.bannerListWrap .bannerList [class^="banner0"] .innerWrap .inner {margin-top:18px;padding-top:20px;border-top:1px solid rgba(0, 0, 0, .15);box-sizing:border-box;}

.bannerListWrap .bannerList [class^="banner0"] .innerWrap .inpWrap {margin-top:17px;}
.bannerListWrap .bannerList [class^="banner0"] .innerWrap .inpWrap:first-child {margin-top:0;}
.bannerListWrap .bannerList [class^="banner0"] .innerWrap .btnClose {position:absolute;top:19px;right:32px;}
.bannerListWrap .bannerList [class^="banner0"] .innerWrap .step {display:none;}
.bannerListWrap .bannerList [class^="banner0"] .innerWrap .step.on {display:block;}

.bannerListWrap .bannerList [class^="banner0"] .bannerCon {height:100%;box-sizing:border-box;background-color:#f5f5f5;overflow-y:auto}
.bannerListWrap .bannerList [class^="banner0"] .bannerCon .bannerProductWrap {display:none;padding:23px 0;box-sizing:border-box;}
.bannerListWrap .bannerList [class^="banner0"] .bannerCon .bannerProductWrap .titleWrap {position:relative;}
.bannerListWrap .bannerList [class^="banner0"] .bannerCon .bannerProductWrap .productTitle {position:relative;font-size:15px;color:#555;text-align:center;}
.bannerListWrap .bannerList [class^="banner0"] .bannerCon .bannerProductWrap .productName {font-family:NanumSquareB;color:#27b2a5;}
.bannerListWrap .bannerList [class^="banner0"] .bannerCon .bannerProductWrap .productList li{margin-top:20px;}
.bannerListWrap .bannerList [class^="banner0"] .bannerCon .bannerProductWrap .arrowWrap {width:100%;position:absolute;top:50%;left:0;transform:translateY(-50%)}


.bannerListWrap .bannerList .banner01 .ico {width:47px;height:38px;background-image:url(../images/ico_main_01.png);}
.bannerListWrap .bannerList .banner02 .ico {width:58px;height:39px;background-image:url(../images/ico_main_02.png);}
.bannerListWrap .bannerList .banner03 .ico {width:38px;height:44px;background-image:url(../images/ico_main_03.png);}

.banner02 .inpWrap .inpTxt input::-webkit-input-placeholder {color:#bbff99;}
.banner02 .inpWrap .inpTxt input::-moz-placeholder {color:#bbff99;}
.banner02 .inpWrap .inpTxt input::-ms-input-placeholder {color:#bbff99;}
.banner02 .inpWrap .inpTxt input::-moz-placeholder {color:#bbff99;}
.banner02 .inpWrap .customSelect .customeSelectTit {color:#bbff99;}

.banner03 .inpWrap .inpTxt input::-webkit-input-placeholder {color:#ffcccc;}
.banner03 .inpWrap .inpTxt input::-moz-placeholder {color:#ffcccc;}
.banner03 .inpWrap .inpTxt input::-ms-input-placeholder {color:#ffcccc;}
.banner03 .inpWrap .inpTxt input::-moz-placeholder {color:#ffcccc;}
.banner03 .inpWrap .customSelect .customeSelectTit {color:#ffcccc;}

/* .bannerListWrap .bannerList [class^="banner0"].on .bannerTop {box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);} */
.bannerListWrap .bannerList [class^="banner0"].on .bannerTop > button .bannerTxt {color:#fff;}

.bannerListWrap .bannerList .banner01.on .ico {width:47px;height:38px;background-image:url(../images/ico_main_01_on.png);}
.bannerListWrap .bannerList .banner02.on .ico {width:58px;height:39px;background-image:url(../images/ico_main_02_on.png);}
.bannerListWrap .bannerList .banner03.on .ico {width:38px;height:44px;background-image:url(../images/ico_main_03_on.png);}

.bannerListWrap .bannerList [class^="banner0"].active {width:100%;height:100%;max-height:100%;position:fixed;left:0;z-index:8;}
.bannerListWrap .bannerList [class^="banner0"].active .bannerTop{width:100%;position:absolute;top:0;left:0;z-index:4;border-radius:0;transition:450ms border-radius linear;}

.bannerListWrap .bannerList .banner01.active .bannerTop{background-color:#5878d5;}
.bannerListWrap .bannerList .banner02.active .bannerTop{background-color:#27b2a5;}
.bannerListWrap .bannerList .banner03.active .bannerTop{background-color:#da5792;}

.bannerListWrap .bannerList [class^="banner0"] .step > p {margin-top:22px;padding:0;font-family:NanumSquareL;font-size:24px;}
.bannerListWrap .bannerList [class^="banner0"] .step > p > strong {font-family:NanumSquareB;}
.bannerListWrap .bannerList .banner03 .step > p {margin-top:0;}

.bannerListWrap .box {width:calc(100% - 40px);min-height:104px;position:absolute;top:20px;left:50%;z-index:-1;transform:translateX(-50%);background-color:#5878d5;border-radius:14px;box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2)}

.proBanner {margin-top:30px;}

.layerFloatingWrap {width:100%;position:fixed;bottom:0;left:0;z-index:5;background-color:#404751;box-shadow: 0px -5px 9px 0px rgba(0, 0, 0, 0.1); }
.layerFloatingWrap ul {font-size:0;}
.layerFloatingWrap ul li {display:inline-block;margin-left:30px;}
.layerFloatingWrap ul li:first-child {margin-left:0;}
.layerFloatingWrap ul li > a {display:block;padding:16px 0;box-sizing:border-box;}
.layerFloatingWrap ul li > a > * {display:inline-block;margin-right:-4px;margin-left:11px;vertical-align:middle;}
.layerFloatingWrap ul li > a > *:first-child {margin-left:0;}
.layerFloatingWrap ul li > a .icoCalc {width:18px;height:18px;background:url(../images/ico_calc.png) 0 0 no-repeat;background-size:100% auto;}
.layerFloatingWrap ul li > a .icoProductKeep {width:18px;height:18px;background:url(../images/ico_product_keep.png) 0 0 no-repeat;background-size:100% auto;}
.layerFloatingWrap ul li > a .floatingTxt {font-size:13px;color:#fff;}

.btnFloatingWrap {position:fixed;bottom:0;right:0;z-index:7;}
.btnFloatingWrap .utilList {padding-bottom:60px;box-sizing:border-box;position:relative;}
.btnFloatingWrap .btnUtilOpen {width:50px;height:50px;position:absolute;bottom:0;right:0;background-color:#ff9600;}
.btnFloatingWrap .btnUtilOpen > em{width:19px;height:20px;display:block;position:absolute;top:50%;left:50%;background:url(../images/btn_add.png) 0 0 no-repeat;background-size:100% auto;transform:translate(-50%, -50%);transition:350ms transform cubic-bezier(0, 0, 0.3, 1)}
.btnFloatingWrap .btnUtilOpen.on > em{transform:translate(-50%, -50%) rotate(135deg)}
.btnFloatingWrap .utilList li {margin-top:10px;position:relative;z-index:-1;text-align:right;}
.btnFloatingWrap .utilList li > a {display:block;font-size:0;transform-origin:50% 50%}
.btnFloatingWrap .utilList li > a > * {display:inline-block;margin-left:11px;vertical-align:middle;}
.btnFloatingWrap .utilList li > a > *:first-child {margin-left:0;}
.btnFloatingWrap .utilList li > a > .txt {font-size:13px;color:#fff;opacity:0;}
.btnFloatingWrap .utilList li > a > .ico {width:50px;height:50px;}
.btnFloatingWrap .utilList li.on {transform:translateY(0);}
.btnFloatingWrap .utilList li.on > a {opacity:1;}
.btnFloatingWrap .utilList li:first-child {margin-top:0;}
.btnFloatingWrap .utilList li:first-child > a {border-top:none;}

.productWrap {margin-top:30px;}
.productWrap * {line-height:1.3;}
.productWrap h3 {font-family:NanumSquareB;font-size:20px;color:#000;}
.productWrap h3 + p {font-family:NanumSquareL;font-size:15px;color:#000;}
.productWrap .productList {width:100%;margin-top:16px;overflow:hidden;}
.productWrap .product {width:49%;margin-left:2%;float:left;}
.productWrap .product:first-child {margin-left:0;}
/* .productWrap .product > a {display:block;padding:20px 13px;box-sizing:border-box;background-color:#fff;border-radius:8px;box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);text-align:center;} */
.productWrap .product > a {display:block;border-radius:8px;box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);text-align:center;}
.productWrap .product > a > * {display:block;}
.productWrap .product .ico {max-width:46px;max-height:46px;margin:0 auto;}
.productWrap .product .tit {margin-top:14px;font-family:NanumSquareB;font-size:14px;color:#333;}
.productWrap .product .txt {font-size:13px;color:#777;}
.productWrap .product .infoWrap {margin-top:10px;text-align:center;}
.productWrap .product .infoWrap .info {min-width:64px;display:inline-block;margin-left:3px;padding:5px 0;box-sizing:border-box;background-color:#55647a;border-radius:13px;font-size:11px;color:#fff;}
.productWrap .product .infoWrap .info:first-child {margin-left:0;}
.productWrap .product .infoWrap .info.event {background-color:#ff9600;color:#fff;}

.tagList {width:100%;margin:-10px 0 0 -10px;overflow:hidden;}
.tagList li{margin:10px 0 0 10px;float:left;}

.inpWrap > * {max-height:45px;display:inline-block;margin-left:25px;text-align:center;vertical-align:middle;}
.inpWrap > *:first-child {margin-left:0;}
.inpWrap .inpTxt {padding-bottom:9px;box-sizing:border-box;position:relative;}
.inpWrap .inpTxt .line,
.inpWrap .customSelect .line {display:block;width:100%;height:2px;position:absolute;bottom:0;left:0;background-color:#fff;transition:350ms transform cubic-bezier(.7,.3,0,1);transform:scaleX(1);}
.inpWrap .inpTxt input[type="text"] {width:100%;font-size:24px;color:#fff;}
/* .inpWrap .inpTxt input[type="text"]:focus + .line,
.inpWrap .customSelect .customeSelectTit:focus + .line {transform:scaleX(1);} */
.inpWrap .inpTxt input::-webkit-input-placeholder {font-family:NanumSquareB;color: #99ccff;vertical-align:middle;}
.inpWrap .inpTxt input::-moz-placeholder {font-family:NanumSquareB;color: #99ccff;vertical-align:middle;}
.inpWrap .inpTxt input::-ms-input-placeholder {font-family:NanumSquareB;color: #99ccff;vertical-align:middle;}
.inpWrap .inpTxt input::-moz-placeholder {font-family:NanumSquareB;color: #99ccff;vertical-align:middle;}
.inpWrap .customSelect {padding-bottom:9px;box-sizing:border-box;position:relative;}
.inpWrap .customSelect .customeSelectTit {display:block;padding-right:30px;box-sizing:border-box;position:relative;font-family:NanumSquareB;font-size:24px;color:#99ccff;text-align:left;line-height:40px;}
.inpWrap .customSelect .customeSelectTit.on {color:#fff;}
.inpWrap .customSelect .customeSelectTit:after {content:'';width:12px;height:8px;display:block;position:absolute;top:50%;right:0;background:url(../images/arrow_select_down.png) center center no-repeat;background-size:100% auto;transform:translateY(-50%);}
.inpWrap .customSelect + .txt {margin-left:9px;font-family:NanumSquareL;font-size:24px;}

.inpWrap .inputWrapTxt {font-family:NanumSquareL;font-size:24px;}
.inpWrap .inputWrapTxt strong{font-family:NanumSquareB;font-size:24px;vertical-align:top;}

.inpRdo {position:relative;}
.inpRdo input[type="radio"] {position:absolute;top:0;left:0;opacity:0;}
.inpRdo label{min-width:70px;display:block;padding:8px 18px;box-sizing:border-box;border:1px solid #fff;border-radius:13px;font-family:NanumSquareB;font-size:13px;color:#fff;text-align:center;}
.inpRdo input[type="radio"]:checked + label {background-color:#fff;color:#27b2a5;}

/* TEMPLATE LAYER */
#templateLayerArea {width:100%;position:absolute;bottom:0;left:0;z-index:9;background-color:#fff;transform:translateY(100%);transition:660ms transform cubic-bezier(.52,.01,.16,1);}
#templateLayerArea.active {transform:translateY(0);}
#templateLayerArea .layerHeader {padding:18px 0;box-sizing:border-box;position:relative;border-bottom:1px solid #eee;text-align:center;}
#templateLayerArea .layerHeader .btnLayerClose {position:absolute;top:50%;right:20px;transform:translateY(-50%);}
#templateLayerArea .layerCon {overflow:hidden;}
#templateLayerArea .layerCon .swiper-slide > button{width:100%;min-height:43px;display:block;padding:11px 0;box-sizing:border-box;font-size:15px;color:#c4c4c4;}
#templateLayerArea .layerCon .swiper-slide-active > button {background-color:#eee;font-family:NanumSquareB;font-size:18px;color:#333;}

.section {line-height:1.3;}
.section .tit {font-family:NanumSquareB;font-size:20px;color:#000;}
.section .tit + * {margin-top:15px;font-family:NanumSquareL;font-size:15px;}
.section .coreTxt {display:block;margin-top:13px;font-family:NanumSquareB;font-size:16px;color:#fff;}

.section .sectionTop {padding:8px 0;box-sizing:border-box;background-color:#fff;}
.section .sectionTop ul {width:100%;font-size:0;}
.section .sectionTop ul li {display:inline-block;}
.section .sectionTop ul li button {padding:7px 10px;box-sizing:border-box;font-size:0;}
.section .sectionTop ul li button > * {display:inline-block;margin-left:5px;font-family:NanumSquareB;font-size:12px;color:#777;}
.section .sectionTop ul li button > *:first-child {margin-left:0;}
.section .sectionTop ul li.on button {background-color:#ff9600;border-radius:20px;}
.section .sectionTop ul li.on button > * {color:#fff;}
.section .sectionCon {padding:0 0 20px;box-sizing:border-box;background-color:#f5f5f5;}
.section .sectionCon .topTxt {padding:30px 0;box-sizing:border-box;background-color:#4f70cf;}
.section .sectionCon .topTxt .tit {color:#ffbd70;}
.section .sectionCon .topTxt .tit + * {color:#fff;}

.section .sectionBtm {padding:30px 0;box-sizing:border-box;position:relative;background-color:#fff;}
.section .sectionBtm .tagList li:first-child {padding-left:0;}
.section .sectionBtm .inpRdo label {min-width:60px;max-width:90px;padding:8px 15px;background-color:#fff;border:1px solid #27b2a5;border-radius:6px;color:#27b2a5;}
.section .sectionBtm .inpRdo input[type="radio"]:checked + label {background-color:#27b2a5;color:#fff;}

.arrowWrap {width:100%;display:inline-block;}
.arrowWrap > * {width:25px;height:25px;display:block;}
.arrowWrap > .arrowLeft {background:url(../images/arrow_left.png) center center no-repeat;background-size:100% auto;float:left;}
.arrowWrap > .arrowRight {background:url(../images/arrow_right.png) center center no-repeat;background-size:100% auto;float:right;}