@charset "utf-8";
#header {box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.2)}
#header .storageTab li {float:left; width:50%; text-align:center;}
#header .storageTab li a {display:block; padding:10px 0;}
#header .storageTab li.on a{color:#ff9600; border-bottom:2px solid #ff9600; font-weight:600;}

#container.type02 {padding-bottom:20px;}
#container.type03 {padding:0 0 20px;}
#container.type04 {padding:0 0 50px;}

.btnAllMenu {width:18px;height:14px;position:absolute;top:20px;right:20px;background:url(../images/btn_allMenu_type02.png) 0 0 no-repeat;background-size:100% auto;text-indent:-9999px; z-index:4;}

.menuSwiper {width:100%; height:46px; line-height:46px; overflow:hidden; padding-left:20px; box-sizing:border-box; background:#fff; margin-bottom:20px;}
.menuSwiper ul {width:1000%; overflow:hidden;}
.menuSwiper ul li {float:left; width: auto; padding-right:20px; font-size:12px; font-weight:600;}
.menuSwiper ul li:last-child {padding-right:0;}
.menuSwiper ul li a {color:#777777;}
.menuSwiper ul li .count {float:right; display:block; width:26px; height:16px; line-height:16px; text-align:center; background:#c8c8c8; border-radius:8px; margin:15px 0 0 3px; color:#fff; font-weight:400}
.menuSwiper ul li.on a {color:#ff9600;}
.menuSwiper ul li.on .count {background:#ff9600 }

/* 내보관함 */
.storageConts {width:100%; padding:0 20px; box-sizing:border-box;}
.storageConts .storageNotice {margin-bottom:5px;}
.storageConts .storageNotice .notice {display:block; margin-bottom:20px; font-size:15px;}
.storageConts .storageNotice .notice .noticePop {display:inline-block; position:relative;}
.storageConts .storageNotice .notice .noticePop .noticePopOpen {border-bottom:1px solid #333; font-weight:600;}
.storageConts .storageNotice .notice .noticePop .tooltip {width:550%; overflow:hidden; position:absolute; top:20px; left:-15px; z-index:9;} 
.storageConts .storageNotice .notice .noticePop .tooltip img {width:90%}
.storageConts .storageNotice .notice .maincolor {color:#ff9600; font-weight:600;}
.storageConts .storageNotice .date {font-size:13px; color:#555555}

/* 상품리스트 */
.productList {width:100%;}
.productList li {width:100%; padding:30px; box-sizing:border-box; background:#fff; border-radius:5px; margin-bottom:20px; box-shadow:3px 3px 8px 0 rgba(0, 0, 0, 0.2); position:relative;}
.productList li .productTitle {display:block; font-size:18px; font-weight:600; margin-bottom:12px;}
.productList li .productTitle.on::after {display:inline-block; content:''; background:url('../images/ico_close_arrow.png') no-repeat; vertical-align:middle; width:15px; height:15px; background-size:100%; margin-left:5px;}
.productList li .productTitle.off::after {display:inline-block; content:''; background:url('../images/ico_open_arrow.png') no-repeat; vertical-align:middle; width:15px; height:15px; background-size:100%; margin-left:5px;}
.productList li .detailInfo {display:none; height:30px; line-height:30px; background:#efefef; font-size:12px; text-align:center; margin-bottom:12px;}
.productList li .listCont {overflow:hidden; margin-bottom:12px;}
.productList li .listCont .leftInfo {float:left; width:30%; margin-right:10%;}
.productList li .listCont .rightInfo {float:left; width:60%; text-align:right;}
.productList li .listCont .rightInfo.type02 {text-align:left;}
.productList li .listCont .partTitle {display:block; font-size:15px; color:#777777; margin-bottom:5px;}
.productList li .listCont .amount {font-size:20px; color:#f45f10; font-weight:600;} 
.productList li .listCont .amount.type02 {color:#5878d5}
.productList li .listCont .partCont {font-weight:600; font-size:14px;}
.productList li .listCont .partArea {margin-bottom:10px;}
.productList li .listCont .partArea:last-child {margin:0;}
.productList li .btnArea {width:100%; overflow:hidden;}
.productList li .btnArea .type01 {float:left; width:41%; height:40px; line-height:40px; border-radius:3px; background:#27b2a5; margin-right:4%; color:#fff; text-align:center;}
.productList li .btnArea .type02 {float:left; width:55%; height:40px; line-height:40px; border-radius:3px; background:#5878d5; color:#fff; text-align:center;}
.productList li .listDel {position:absolute; top:15px; right:15px;}
.productList li .listDel img {width:15px;}
.productList li .step {display:block; width:27%; margin-bottom:15px;}
.productList li .joinProductInfo {overflow:hidden; line-height:20px; margin-bottom:8px;}
.productList li .joinProductInfo .partTitle {float:left; font-size:15px; color:#777777; margin-bottom:0px; margin-right:5px;}
.productList li .joinProductInfo .amount {float:left;}
.productList li .endNotice {display:block; font-size:14px; color:#777777;}

/* 비교하기 팝업 */
#comparisonPopup {width:100%; height:100%; overflow:hidden; position:fixed; top:100%; left:0; z-index:9999; background:#f5f5f5; transition:0.8s;}
#comparisonPopup.on {top:0;}
#comparisonPopup .popupHeaderArea {background:#27b2a5; overflow:hidden; padding-bottom:20px; margin-bottom:20px;}
#comparisonPopup .popupHeaderArea .popupTitle {padding:18px 20px; box-sizing:border-box; border-bottom:1px solid #21978c; color:#fff; font-size:14px; margin-bottom:20px; overflow:hidden;}
#comparisonPopup .popupHeaderArea .popupTitle .comparisonPopupClose {float:right; width:4%; margin-top:2px}
#comparisonPopup .popupHeaderArea .mainCard {width:calc(100% - 40px); background:#fff; margin:0 20px; padding:20px; box-sizing:border-box; border-radius:5px; box-shadow:3px 3px 8px 0 rgba(0, 0, 0, 0.2); }

#comparisonPopup .productTitle {display:block; font-size:16px; font-weight:600; margin-bottom:15px;}
#comparisonPopup .partArea {overflow: hidden; line-height:24px; margin-bottom:5px}
#comparisonPopup .partArea:last-child {margin:0;}
#comparisonPopup .partArea .partTitle {float:left; font-size:15px; color:#777777;}
#comparisonPopup .partArea .amount {float:right; font-family:NanumSquareB;font-size:20px; color:#f45f10;}
#comparisonPopup .partArea .partCont {float:right; font-size:14px;}

.comparisonList {width:calc(100% - 40px); margin:0 20px;}
.comparisonList li {display:table; width:100%; background:#fff; border:3px solid #fff; padding:20px; box-sizing:border-box; border-radius:5px; overflow:hidden; margin-bottom:20px;}
.comparisonList li .listCont {display:table-cell; width:85%;}
.comparisonList li .radioBox {display:table-cell; width:15%; text-align:right; vertical-align:middle}
.comparisonList li .radioBox input[type="radio"] {width:30px; height:30px; background:url('../images/img_checkbox_off.png') no-repeat; background-size:30px;}
.comparisonList li .radioBox input[type="radio"]:checked {background:url('../images/img_checkbox_on.png') no-repeat; background-size:30px;}
.comparisonList li.on {border:3px solid #3cb9ae;}

.btnComparison {position:fixed; bottom:-50px; left:0; width:100%; overflow:hidden; background:#404751; height:50px; line-height:50px;font-family:NanumSquareB; color:#fff; text-align:center; transition:0.4s;}
.btnComparison.on {bottom:0;}

/* 가입중인 상품 */
.joinProductConts {width:100%; padding:0 20px; box-sizing:border-box;}
.joinProductConts .noticeArea {overflow:hidden; margin-bottom:10px;}
.joinProductConts .noticeArea .date {float:left; font-size:12px; color:#555555}
.joinProductConts .noticeArea .addText {float:right; font-size:12px; color:#999999}

.joinNotice {overflow:hidden; position:relative;}
.joinNotice .noticeTxt {float:left; width:70%;}
.joinNotice .noticeTxt .title {display:block; margin-bottom:10px; font-size:14px; color:#666666;}
.joinNotice .noticeTxt .time {color:#999999; font-size:13px}
.joinNotice .callNumberArea {position:absolute; top:0; right:0; width:30%; text-align:right;}
.joinNotice .callNumberArea a {display:inline-block; width:50%; margin-bottom:5px;}
.joinNotice .callNumberArea .callNumber {display:block; color:#55647a; font-size:18px;}

/* 상품 정보 */
.productRolling {width:100%; height:100%; overflow:hidden; position:relative;}
.productRolling li {float:left; width:100%; height:100%; overflow:hidden; position:relative;}
.productRolling li .titleArea {background:#5878d5; box-sizing:border-box; padding:30% 20px 0;}
.productRolling li .titleArea .title {display:block; font-size:28px; font-weight:600; color:#fff; margin-bottom:10px;}
.productRolling li .titleArea p {color:#fff; font-size:16px; line-height:22px;}
.productRolling li .contentArea {background:#fff; box-sizing:border-box; padding:18% 20px 0;}
.productRolling li .iconArea {position:absolute; right:0; top:50%; width:60%; padding-right:20px; box-sizing:border-box; }
.productRolling li .iconArea img {margin-top:-50%;}
.productRolling .productRolling-pagination {position:absolute; top:10%; left:20px; z-index:2}
.productRolling .productRolling-pagination > span {font-size:15px; color:#fff; opacity:0.3; padding:5px 10px; border-radius:20px; }
.productRolling .productRolling-pagination > span.swiper-pagination-bullet-active {padding:5px 10px; border-radius:20px; background:#fff; opacity:1; color:#5878d5;}
.productRolling .addView {position:absolute; top:80%; left:20px; z-index:2; width:25%; height:40px; line-height:40px; text-align:center; color:#fff; background:#5878d5; border-radius:5px;}

.productInfoType01 {overflow:hidden;}
.productInfoType01 li {height:24px; line-height:24px; overflow:hidden; padding-left:30px; margin-bottom:10px; font-size:15px; box-sizing:border-box;}
.productInfoType01 li .title {float:left; font-weight:600; color:#ffa656; width:23%}
.productInfoType01 li.type01 {background:url('../images/ico_productinfo01.png') no-repeat left center; background-size:24px;}
.productInfoType01 li.type02 {background:url('../images/ico_productinfo02.png') no-repeat left center; background-size:24px;}
.productInfoType01 li.type03 {background:url('../images/ico_productinfo03.png') no-repeat left center; background-size:24px;}
.productInfoType02 {overflow:hidden;}
.productInfoType02 li {height:24px; line-height:24px; overflow:hidden; padding-left:10px; margin-bottom:10px; font-size:16px; background:url('../images/ico_list_dot.png') no-repeat left center; background-size:3px; box-sizing:border-box;}
.productInfoType02 li .title {float:left; width:80%; overflow:hidden; color:#555555; text-overflow: ellipsis; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-wrap: break-word; white-space: nowrap;}
.productInfoType02 li .name {float:right; width:20%; text-align:right; color:#777777;}

.swiper-wrapper {position: relative; width: 100%; height: 100%; z-index: 1; display: flex;  box-sizing: content-box;}
.swiper-slide {-webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; width: 100%; height: 100%; position: relative; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; -o-transition-property: transform; transition-property: transform; transition-property: transform, -webkit-transform;}

.infoProductTitleArea {background:#5878d5; box-sizing:border-box; padding:20% 20px 10%;}
.infoProductTitleArea .title {display:block; font-size:28px; font-weight:600; color:#fff; margin-bottom:10px;}
.infoProductTitleArea p {color:#fff; font-size:16px; line-height:22px;}

.infoProductTab {background:#fff;overflow:hidden; text-align:center;}
.infoProductTab li {display:inline-block; width:20%;}
.infoProductTab li a {display:block; padding:12px 0;}
.infoProductTab li.on a{color:#ff9600; border-bottom:2px solid #ff9600; font-weight:600;}